################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Festivise/Festivise.Events.Api/obj
/src/Festivise/Festivise.Events.Api.Contracts/obj
/src/Festivise/Festivise.Events.Domain/obj
/src/Festivise/.vs/Festivise
/.vs
/src/Festivise/.vs/ProjectEvaluation
/src/Festivise/Festivise.Events.Api.Contracts/bin/Debug/net8.0
/src/Festivise/Festivise.Events.Api/bin/Debug/net8.0
/src/Festivise/Festivise.Events.Domain/bin/Debug/net8.0
/src/Festivise/Festivise.Events.Storage/bin/Debug/net8.0
/src/Festivise/Festivise.Events.Storage/Migrations
/src/Festivise/Festivise.Events.Storage/obj
/src/Festivise/Festivise.Events.Api/appsettings.json
/src/Festivise/Festivise.Events.Api/appsettings.Development.json
/src/Festivise/Festivise.Schedules.Api/obj
/src/Festivise/Festivise.Schedules.Domain/obj
/src/Festivise/Festivise.Schedules.Domain.Models/obj
/src/Festivise/Festivise.Schedules.Storage/obj
/src/Festivise/Festivise.Schedules.Api/appsettings.Development.json
/src/Festivise/Festivise.Schedule.Api.Contracts/obj
/src/Festivise/Festivise.Schedules.Api.Contracts/obj/Debug/net8.0
/src/Festivise/Festivise.Schedules.Api.Contracts/obj
/src/Festivise/Festivise.Schedules.Storage.Contracts/obj
/src/Festivise/Festivise.Schedules.Api/bin/Debug/net8.0
/src/Festivise/Festivise.Schedules.Api.Contracts/bin/Debug/net8.0
/src/Festivise/Festivise.Schedules.Storage/bin/Debug/net8.0
/src/Festivise/Festivise.Schedules.Storage.Contracts/bin/Debug/net8.0
/src/Festivise/Festivise.Events.Storage.Contracts/bin/Debug/net8.0
/src/Festivise/Festivise.Events.Storage.Contracts/obj
